/* Import Google Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

// COLORS
// Theme - 50 Lively Yet Soothing
// Background Colors
$c-bg-primary: #FFFFFF;
$c-bg-secondary: #EDEAE5;
$c-bg-third: #FEF9C7;
$c-bg-fourth: #FCE181;

// Text Colors
$c-tx-primary: #000000;
$c-tx-secondary: #FFFFFF;
$c-tx-third: #9FEDD7;
$c-tx-fourth: #026670;

// COLORS
// Theme - 12 Striking and Simple
// Background Colors
// $c-bg-primary: #0B0C10;
// $c-bg-secondary: #1F2833;
// $c-bg-third: #45A29E;

// // Text Colors
// $c-tx-primary: #66FCF1;
// $c-tx-secondary: #C5C6C7;
// $c-tx-third: #FFFFFF;

// CSS Properties ordered by type
// Positioning > Display & Box Model > Color > Text > Other

//Default settings for all elements
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

// Default settings for all link elements
a {
    text-decoration: none;
}

// Navbar styling 
.navbar {
    position: fixed;
    width: 100%;
    background-color: $c-bg-primary;

    .max-width {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 1rem 2rem;
      
      
      .logo a {
        color: $c-tx-fourth;
        font-size: 2rem;
        font-weight: 600;
      }

      .menu li{
        display: inline-block;
        list-style: none;

        a{
          color: $c-tx-primary;
        }
      }
    }

    
}