// Separate stylesheet for media quaries
@use 'media-query';

/* Import Google Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

// COLORS
// Theme - 12 Striking and Simple
// Background Colors
$c-bg-primary: #1F2833;
$c-bg-secondary: #0B0C10;
$c-bg-third: #45A29E;

// Text Colors
$c-tx-primary: #FFFFFF;
$c-tx-secondary: #C5C6C7;
$c-tx-third: #66FCF1;

// // COLORS OPTION 2
// // Theme - 50 Lively Yet Soothing
// // Background Colors
// $c-bg-primary: #FFFFFF;
// $c-bg-secondary: #EDEAE5;
// $c-bg-third: #FEF9C7;
// $c-bg-fourth: #FCE181;

// // Text Colors
// $c-tx-primary: #000000;
// $c-tx-secondary: #FFFFFF;
// $c-tx-third: #9FEDD7;
// $c-tx-fourth: #026670;

// CSS Properties ordered by type
// Positioning > Display & Box Model > Color > Text > Other

//Default settings for all elements
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

// Default settings for all link elements
a {
    text-decoration: none;
}

// Default settings for max-width
.max-width {
  //max-width: 1300px;
  padding: 0px 80px;
  margin: auto;

  @include media-query.lt-md {
    padding: 0px 50px;
  }
}

// Navbar styling 
.navbar {
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  //background-color: $c-bg-third;
  transition: all 0.3s ease;

  .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo a {
      color: $c-tx-primary;
      font-size: 2rem;
      font-weight: 600;

      span {
        font-size: 2rem;
        color: $c-tx-third;
        transition: all 0.3s ease;
      }
    }

    .menu {
      @include media-query.lt-md {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        padding: 80px 0 0 0;
        background-color: $c-bg-primary;
        text-align: center;
        transition: all 0.3s ease;
      }

      li {
        display: inline-block;
        list-style: none;
        @include media-query.lt-md {
          display: block;
        }

        a {
          color: $c-tx-primary;
          font-weight: 500;
          margin-left: 1.5rem;
          transition: color 0.3s ease;

          @include media-query.lt-md {
            display: inline-block;
            margin: 20px 0;
            font-size: 1.5rem;
          }
        }

        a:hover {
          color: $c-tx-third;
        }
      }
    }

    .menu.active {
      left: 0;
    }

    .menu-btn {
      display: none;
      color: $c-tx-primary;
      font-size: 23px;
      cursor: pointer;
      @include media-query.lt-md {
        display: block;
        z-index: 999;

        //i.active:before {
        //  content: "\f00d";
        //}
      }
    }
  }
}

.navbar.sticky {
  padding: 1rem 0;
  background-color: $c-bg-third;

  .logo a span {
    color: $c-tx-primary;
  }

  .menu li a:hover {
    color: $c-bg-primary;
  }
}

// Home Section styling
.home {
  display: flex;
  //background: url("./img/homeBanner.png") no-repeat center;
  //background-size: cover;
  //background-attachment: fixed;
  background-color: $c-bg-primary;
  height: 100vh;
  min-height: 100px;
  color: $c-tx-primary;

  .max-width {
    margin: auto 0 auto 1rem;
    @include media-query.lt-md {
      margin: auto 0;
    }

    .home-content {

      .text-1 {
        font-size: 2rem;
      }

      .text-2 {
        font-size: 4rem;
        //font-weight: 600;
        margin-left: -3px;
        @include media-query.lt-md {
          font-size: 3.5rem;
        }
      }

      .text-3 {
        font-size: 3rem;
        margin: 5px 0;
        @include media-query.lt-md {
          font-size: 2.5rem;
        }

        span {
          color: $c-tx-third;
          font-weight: 500;
          font-size: 3rem;
          @include media-query.lt-md {
            font-size: 2.5rem;
          }
        }
      }

      a {
        display: inline-block;
        margin: 1rem 0 0 0;
        padding: 1rem 2rem;
        border: 2px solid $c-bg-third;
        border-radius: 0.5rem;
        background-color: $c-bg-third;
        color: $c-tx-primary;
        font-size: 1.8rem;
        transition: all 0.3s ease;
        @include media-query.lt-md {
          padding: 0.8rem 1.5rem;
          font-size: 1.5rem;
        }
      }
      a:hover {
        background: none;
        color: $c-tx-third;
      }
    }
  }  
}

